body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.slide-left {
    flex-direction: row-reverse;
    width: 200vw;
    height: 100vh;
    left: -100vw;
    transform: translateX(50%);
}

.slide-right {
    width: 200vw;
    height: 100vh;
    transform: translateX(-50%);
}

.slide-up {
    flex-direction: column-reverse;
    width: 100vw;
    height: 200vh;
    top: -100vh;
    transform: translateY(50%);
}

.slide-down {
    flex-direction: column;
    width: 100vw;
    height: 200vh;
    transform: translateY(-50%);
}

.transition-page {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.footprint {
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: opacity 1s ease;
}

.dot {
    width: 0.25rem;
    height: 0.25rem;
    background-color: red;
    border-radius: 50%;
}

.ripple {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    animation: scale 0.2s ease-out;
}

.ripple-reverse {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    animation: scale-reverse 0.2s ease-out;
}

@keyframes scale {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width: 5rem;
        height: 5rem;
        opacity: 0;
    }
}

@keyframes scale-reverse {
    0% {
        width: 5rem;
        height: 5rem;
        opacity: 0;
    }
    100% {
        width: 0;
        height: 0;
    }
}
@keyframes right-in {
    0% {
        transform: translateX(100%);
    }
}

@keyframes left-in {
    0% {
        transform: translateX(-100%);
    }
}

@keyframes up-in {
    0% {
        transform: translateY(-100%);
    }
}

@keyframes down-in {
    0% {
        transform: translateY(100%);
    }
}

@keyframes slide-in {
    from {
        left: -10rem;
    }
    to {
        left: 0;
    }
}

@keyframes slide-out {
    from {
        left: 0;
    }
    to {
        left: -10rem;
    }
}
